.doctor-dashboard-page {
  min-height: 100vh;
  display: flex;
  background-color: #f8fafc;
  font-family: Arial, sans-serif;
}

.doctor-dashboard-main {
  flex: 1;
  background-color: #f8fafc;
}

.doctor-dashboard-content {
  padding: 24px;
}

/* top cards */

.doctor-card-row {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.doctor-info-card {
  flex: 1;
  height: 130px;
  border-radius: 14px;
  padding: 22px;
}

.card-blue {
  background-color: #dff3ff;
}

.card-pink {
  background-color: #ffe3f4;
}

.card-green {
  background-color: #ddf8e7;
}

.doctor-card-icon {
  font-size: 24px;
  color: #12344d;
  margin-bottom: 24px;
}

.doctor-info-card p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 5px;
}

.doctor-info-card h2 {
  font-size: 30px;
  color: #12344d;
}

/* patient table */

.doctor-patient-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.doctor-patient-header {
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doctor-patient-header h2 {
  font-size: 25px;
  color: #111827;
}

.doctor-patient-search {
  width: 330px;
  height: 42px;
  background-color: #fff0f7;
  border: 1px solid #f3c6dc;
  border-radius: 7px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 14px;
}

.doctor-patient-search svg {
  color: #ec4899;
}

.doctor-patient-search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.doctor-patient-table {
  width: 100%;
  border-collapse: collapse;
}

.doctor-patient-table th {
  background-color: #eef3ff;
  padding: 16px;
  text-align: left;
  font-size: 14px;
  color: #111827;
}

.doctor-patient-table td {
  padding: 17px 16px;
  font-size: 14px;
  color: #111827;
}

.doctor-patient-table tbody tr:nth-child(odd) {
  background-color: #fff4fa;
}

.doctor-patient-table tbody tr:nth-child(even) {
  background-color: #eef7ff;
}

/* action buttons */

.patient-action-box {
  display: flex;
  gap: 10px;
}

.patient-action-box button {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.patient-view-btn {
  background-color: #eaf3ff;
  color: #0d6efd;
}

.patient-edit-btn {
  background-color: #ecfdf5;
  color: #00897b;
}

.patient-delete-btn {
  background-color: #fee2e2;
  color: #dc2626;
}

/* footer */

.doctor-patient-footer {
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doctor-patient-footer p {
  font-size: 14px;
}

.doctor-patient-pagination {
  display: flex;
  gap: 8px;
}

.doctor-patient-pagination button {
  min-width: 36px;
  height: 36px;

  border: 1px solid #d1d5db;
  border-radius: 6px;

  background-color: white;
  cursor: pointer;
}

.doctor-patient-pagination button.active-page {
  background-color: #ec4899;
  color: white;
  border: none;
}

.doctor-patient-pagination button:disabled {
  background-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
}

.doctor-no-patient {
  padding: 35px;
  text-align: center;
}

.doctor-no-patient h3 {
  color: #111827;
}

.doctor-no-patient p {
  color: #6b7280;
}