.health-plan-page {
  width: 92%;
  margin: 100px auto 60px;
}

.health-plan-page h1 {
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  color: #111827;
  letter-spacing: 1px;
  margin-bottom: 55px;
}

.health-plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.health-plan-card {
  background-color: white;
  border: 1px solid #f3d6e6;
  border-radius: 16px;

  padding: 30px 28px;

  box-shadow: 0px 10px 28px rgba(236, 72, 153, 0.09);
  transition: 0.3s ease;
}

.health-plan-card:hover {
  transform: translateY(-7px);
  border-color: #ec4899;
  box-shadow: 0px 16px 35px rgba(236, 72, 153, 0.18);
}

.plan-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
}

.plan-top h2 {
  font-size: 23px;
  font-weight: 800;
  color: #ec4899;
  margin-bottom: 6px;
}

.plan-top h3 {
  font-size: 21px;
  font-weight: 800;
  color: #111827;
  margin-bottom: 10px;
}

.plan-top h3 span {
  font-size: 15px;
  font-weight: 600;
  color: #374151;
  margin-left: 5px;
}

.plan-top p {
  font-size: 15px;
  color: #374151;
}

.plan-icon {
  width: 54px;
  height: 54px;

  border-radius: 50%;
  background: linear-gradient(135deg, #fff0f7, #eaf3ff);
  color: #ec4899;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  box-shadow: 0px 8px 18px rgba(236, 72, 153, 0.12);
}

.plan-features {
  min-height: 90px;
  margin-bottom: 25px;
}

.plan-features p {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  font-size: 15px;
  color: #111827;
  line-height: 1.5;

  margin-bottom: 14px;
}

.plan-features svg {
  color: #111827;
  font-size: 13px;
  margin-top: 4px;
  min-width: 13px;
}

.subscribe-btn {
  width: 100%;
  height: 42px;

  border: none;
  border-radius: 6px;

  background-color: #ec4899;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #ec4899;
  transform: translateY(-3px);
}

/* responsive */
@media (max-width: 1000px) {
  .health-plan-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .health-plan-page h1 {
    font-size: 36px;
  }
}

@media (max-width: 650px) {
  .health-plan-grid {
    grid-template-columns: 1fr;
  }

  .health-plan-page {
    width: 94%;
    margin-top: 100px;
  }

  .health-plan-page h1 {
    font-size: 30px;
  }
}